*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1C1E53;
    color: #FFFFFF;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}